.skills-section {
    
    padding: 2rem 0;
  }
  
  .skill-link {
    text-decoration: none;
    display: block;
  }
  
  .skill-card {
    background-color: transparent;  /* Transparent background */
    border: 2px solid #16a085;       /* Accent colored border */
    border-radius: 8px;              /* Rounded corners */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .skill-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .skill-img {
    max-height: 100px;
    object-fit: contain;
    margin: auto;
    display: block;
  }
  
  .skill-name {
    font-weight: 600;
    color: #fff;
    margin: 0.5rem 0 0;
    font-size: 1rem;
    text-align: center;
  }
  